<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/projects" method="post" enctype="multipart/form-data">

    <div class="formulaire">
        <span>Fichier à ajouter</span>
        <input type="file" class="image" name="uploaded_file">
        <span>Nom</span>
        <input type="text" class="form-control" placeholder="images" name="screenShoot">
        <span>envoyer</span>
        <input type="submit" value="Mettre en ligne" class="btn btn-default">            
    </div>

</form>    
</body>
</html>